<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>404</title>
        <style>
            body,
            html {
                height: 100%;
                margin: 0px;
                padding: 0px;
            }

            .bg {
                /* The image used */
                background: url("https://cdn.dribbble.com/users/644529/screenshots/2662296/404.gif");

                /* Full height */
                height: 100%;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <div class="bg"></div>
    </body>
</html>
